:root {
  --color-primarybg:rgb(73, 94, 87);
  --color-primarytext:rgb(244, 205, 20);
  --color-buttons:rgb(244, 205, 20);
  --color-secondaryp:rbg(238, 153, 114);
  --color-secondarpl:rbg(251, 218, 187);
  --color-hightlightlight:rgb(237, 239, 238);
  --color-hightlightdark:rbg(51, 51, 51);
}

/* This is the Navigation section */

nav {
  margin-bottom: 2.5rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin-top: 3rem;
}

.Nav-Links {
  color:black;
  font-size: 16pt;
  font-family: "Karla", sans-serif;
  text-decoration: none;
}

.Nav-Links:hover {
  border: outset;
}


/* This is the Hero section */

.Grid-Hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  background-color: var(--color-primarybg);
}

.Grid-Hero h1 {
  font-size: 64pt;
  font-family: "Markazi Text", serif;
  color: var(--color-primarytext);
}

.Grid-Hero h2 {
  font-size: 40pt;
  font-family: "Markazi Text", serif;
  color: white;
}

.Grid-Hero p {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
  color: white;
  line-height: 1.5;
  margin-left: 1rem;
  margin-right: 1rem;
}

.Grid-Hero button {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
  background-color: var(--color-buttons);
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 16px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.Hero-Button-Link {
  text-decoration: none;
  color: black;
}

.Grid-Hero button:hover {
  border-color: white;
}

.Grid-Hero .Hero-Img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: auto;
  border-style: solid;
  border-radius: 16px;
}

/* This is the Specials section */

.Specials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.Special {
  background-color: var(--color-hightlightlight);
  border: outset;
}

.Special-Img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Special h2 {
  font-size: 18pt;
  font-family: "Karla bold", sans-serif;
}

.Special p {
  font-size: 16pt;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

/* This is the Booking section */

.Form {
  display: grid;
  margin: auto;
  text-align: center;
  width: 50%;
  background-color: var(--color-hightlightlight);
  padding: 2rem;
  border-style: outset;
  border-radius: 16pt;
  margin-top: 5rem;
  margin-bottom: 5rem;
  }

.Form-Tables {
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  }

.Form-Tables label {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
  color: black;
}

.Form h1 {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
}

.Form-Tables input[type="date"],
.Form-Tables input[type="text"],
.Form-Tables input[type="number"],
.Form-Tables select {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid black;
  margin-top: .5rem;
 }

.Form-Tables input[type="date"],
.Form-Tables input[type="text"]:focus,
.Form-Tables input[type="number"]:focus,
.Form-Tables select:focus {
  outline: none;
  border-bottom: 2px solid black;
}

.Booking-Button {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
  background-color: var(--color-buttons);
  color:black;
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 16pt;
  padding: 1rem;
}

.Booking-Button:hover {
  border-color: white;
}

/* This is the Testimonials section */

.Testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.Testimonial {
  background-color: var(--color-hightlightlight);
  border: outset;
}

.Testimonial-Img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Testimonial h2 {
  font-size: 18pt;
  font-family: "Karla bold", sans-serif;
}

.Testimonial p {
  font-size: 16pt;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

/* This is the About section */

.Grid-About {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  text-align: center;
  background-color: var(--color-primarybg);
}

.About-Img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.About-Summary {
  margin-left: 1rem;
  margin-right: 1rem;
}

.Grid-About h1 {
  font-size: 40pt;
  font-family: "Markazi Text", serif;
  color: var(--color-primarytext);
}

.About-Summary h2 {
  font-size: 40pt;
  font-family: "Markazi Text", serif;
}

.About-Summary p {
  font-size: 18pt;
  font-family: "Markazi Text", serif;
  margin-bottom: 5rem;
}

/* This is the Footer section */

.Footer {
  display: flex;
  justify-content: space-around;
  border-top: solid;
  border-color: black;
}

.Footer-Ul {
  font-size: 16pt;
  list-style: none;
}

.Footer-Links {
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  text-decoration: none;
  color: black;
}
